In [46]:
# import pandas library 
import pandas as pd
import numpy as np

# dictionary 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels) 

# select first 3 rows from dataframe 
df1 = df.head(3) 

# show the dataframe 
df1

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [31]:
# import pandas library 
import pandas as pd
import numpy as np

# dictionary 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels) 
df = df.dropna()
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [45]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

df2 = pd.DataFrame(exam_data , index=labels)

print("\nSelect name & score columns\n", df2.iloc[[0,1,2,3,4,5,6,7,8,9],[0,1]])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Select name & score columns
         name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [48]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("First list:")
print(df)

df.loc['k'] = ['Suresh', 15.5, 1, "yes"]
print("\nList after adding Suresh data: ")
print(df)

df3 = df.drop('k')
print("\nList final adter deletind Suresh data: \n", df3)

First list:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

List after adding Suresh data:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

List final adter deletind Suresh data:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [56]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df5 = pd.DataFrame(exam_data , index=labels)
print("First list:")
print(df5)

# create a list of our conditions
conditions = [(df5['score'] > 10)]

# create a list of the values we want to assign for each condition
values = [1]

# create a new column and use np.select to assign values to it using our lists as arguments
df5['Success'] = np.select(conditions, values)

# display updated DataFrame
print("\n Updatet list: \n", df5)

#export into csv file named "my_data"
df5.to_csv('my_data.csv')

First list:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 Updatet list:
         name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1

In [5]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 

d = { 'Netherlands': 17, 'US': 318, 'Canada': 35, 'France': 66,'UK': 64}
population = pd.Series(d)
print(population)
print(population['US'])
print(population[['US','Canada','UK']])
print(population[population > 60])

Netherlands     17
US             318
Canada          35
France          66
UK              64
dtype: int64
318
US        318
Canada     35
UK         64
dtype: int64
US        318
France     66
UK         64
dtype: int64

In [6]:
d = { 'name': ['Bob','Bart','Bobby'],
      'occupation': ['Lawyer','Programmer','Teacher']}
frame = pd.DataFrame(d, columns=['name','occupation'])
print(frame)

    name  occupation
0    Bob      Lawyer
1   Bart  Programmer
2  Bobby     Teacher

In [7]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 

d = { 'name': ['Bob','Bart','Bobby'],
      'occupation': ['Lawyer','Programmer','Teacher']}

frame = pd.DataFrame(d, columns=['name','occupation'])
print(frame)

    name  occupation
0    Bob      Lawyer
1   Bart  Programmer
2  Bobby     Teacher

In [9]:
import pandas as pd
import numpy as np
array = np.array(["blue", "yellow", "pink", "purple"]) # get the array
series1 = pd.Series(array)  #create the series from the array
print(series1)
list = [19, 175, 41, 22]
series2 = pd.Series(list) #create the series from the list
print(series2)

0      blue
1    yellow
2      pink
3    purple
dtype: object
0     19
1    175
2     41
3     22
dtype: int64

In [10]:
import pandas as pd
color=["pink", "white", "black", "blue"]
occurence = [20, 15, 6, 43]
S=pd.Series(occurence, index=color)
print(S)

pink     20
white    15
black     6
blue     43
dtype: int64

In [11]:
import pandas as pd
color=["pink", "white", "black", "blue"]
S1=pd.Series([20, 15, 6, 43], index=color)
S2=pd.Series([3, 22, 9, 10], index=color)
print(S1+S2)

pink     23
white    37
black    15
blue     53
dtype: int64

In [13]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
a.add(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [16]:
import pandas as pd
fruits = ["apples", "oranges", "cherries", "pears"]
fruits_ro = ["mere", "portocale", "cirese", "pere"]
k7 = pd.Series([20, 33, 52, 10], index=fruits)
k8 = pd.Series([17, 13, 311, 32], index=fruits_ro)
print(k7)
print(k8)
print(k7+k8)

apples      20
oranges     33
cherries    52
pears       10
dtype: int64
mere          17
portocale     13
cirese       311
pere          32
dtype: int64
apples      NaN
cherries    NaN
cirese      NaN
mere        NaN
oranges     NaN
pears       NaN
pere        NaN
portocale   NaN
dtype: float64

In [18]:
li = [['Jack', 34, 'Paris'], ['Thomas', 30, 'Roma'], 
       ['Alexandre', 16, 'New York']] 
d = pd.DataFrame(li, columns =['name', 'age', 'city'])
print(d)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [19]:
dic  = { 'name' : ['Jack', 'Thomas', 'Alexandre'],
    'age' : [34, 30, 16],
    'city' : ['Paris', 'Roma', 'New York']}

kkk = pd.DataFrame(dic)
print(kkk)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [32]:
ddd = {'Name':['Tom', 'Jack', 'nick', 'juli'], 
        'marks':[99, 98, 95, 90]}
fff = pd.DataFrame(ddd, index =['rank1', 
                                'rank2', 
                                'rank3', 
                                'rank4']) 
print(fff)

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [34]:
data = [{'a': 1, 'b': 2}, 
        {'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index =['first', 
                                 'second'], 
                   columns =['a', 'b']) 
df2 = pd.DataFrame(data, index =['first', 
                                 'second'], 
                   columns =['a', 'b1']) 
print (df1, "\n") 
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN